<div
  style='background-color: #fff; font-family: "Roboto", sans-serif; -webkit-font-smoothing: antialiased; font-size: 16px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;'
>
  <div
    class='container'
    style='display: block; max-width: 580px; padding: 10px; margin: 0 auto;'
  >
    <div
      class='content'
      style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;'
    >

      <div
        class='main'
        style='background: #ffffff; border-radius: 3px; width: 100%;'
      >
        <div class='wrapper' style='box-sizing: border-box; padding: 20px;'>
          <p
            style='font-family: "Roboto", sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px;'
          >
            Xin chào,
            {{name}}
          </p>
          <p
            style='font-family: "Roboto", sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px;'
          >
            Chúng tôi nhận được một yêu cầu đặt lại mật khẩu. Nếu không phải
            bạn, hãy bỏ qua tin nhắn này.
          </p>
          <p
            style='font-family: "Roboto", sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px;'
          >
            Nhấn vào link bên dưới để đặt lại mật khẩu của bạn.
          </p>
          <div
            class='btn-primary'
            style='border-radius: 5px; text-align: center; background-color: #3498db;'
          >
            <a
              href='{{url}}'
              style='border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 16px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; text-transform: capitalize; background-color: #3498db; border-color: #3498db; color: #ffffff;'
            >
              Nhấn để reset mật khẩu
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>